version: "3.3"
   
services:
  web:
    user: ${UID}
    build: 
      context: .
      dockerfile: dockerfiles/Dockerfile
    env_file:
      - ./.env
    environment:
      - ENVIRONMENT=develop
      - ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
      - CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
      - SECRET_KEY=dummy-test-secret-key-123
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app/:/app/
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    links:
      - redis:redis
  
  db:
    #image: postgres:13.4
    image: postgres:14
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  celery:
    user: ${UID}
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile
    command: bash -c "celery -A main worker -l info --concurrency ${CONCURRENCY}"
    env_file:
      - ./.env    
    volumes:
      - ./app/:/app/
    environment:
      - DB_HOST=db
      - DB_NAME=app
      - DB_USER=postgres
      - DB_PASS=postgres
    depends_on:
      - db
      - redis
      - web
