beautifulsoup4
dash
dash-bootstrap-components
dash-renderer
dash-table
dash-table-experiments
dash-tabulator
dask
Django
django-admin-index
django-bootstrap4
django-cache-memoize
django-classy-tags
django-cookie-law
django-cors-headers
django-currentuser
django-extensions
django-light
django-ordered-model
django-plotly-dash
djangorestframework
dpd_static_support
pyarrow
redis
celery
scikit-learn
scikit-plot
shap
pycaret==3
psycopg2-binary
panel
pytest-django
pytest-celery