celery
colorlover
colorlover
dash_bootstrap_components 
dash-table-experiments
dash-tabulator
django
django_admin_index 
django_admin_index 
django_plotly_dash 
django-bootstrap4
django-cookie-law
django-cors-headers
django-currentuser
django-extensions
django-oauth-toolkit
django-plotly-dash
djangorestframework 
django-system-monitor
dpd-static-support 
matplotlib
pandas
plotly
psycopg2
seaborn
waitress
