celery
colorlover
dash_bootstrap_components 
dash-table-experiments
dash-tabulator
dask[distributed]
django
django_admin_index 
django_plotly_dash 
django-bootstrap4
django-cache-memoize
django-cookie-law
django-cors-headers
django-currentuser
django-extensions
django-oauth-toolkit
django-plotly-dash
djangorestframework 
dpd-static-support
fastparquet
matplotlib
pandas
plotly
psycopg2-binary
redis
seaborn
waitress

