{% if maxquant_pipelines %}
  <div class="pipelines-table-wrap">
    <table class="pipelines-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th># Raw files</th>
          <th>Open</th>
        </tr>
      </thead>
      <tbody>
        {% for pipeline in maxquant_pipelines %}
          <tr>
            <td>{{ pipeline.id }}</td>
            <td>{{ pipeline.name }}</td>
            <td>{{ pipeline.description }}</td>
            <td>{{ pipeline.n_files }}</td>
            <td><a class="mq-open-link" href="{{ pipeline.url }}">Open</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p class='warning'>No pipeline found for this project.</p>
{% endif %}
