  
<div class='block'>
  {% if maxquant_pipelines %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th># Raw Files</th>
        <th>Link</th>
      </tr>
   </thead>
    {% for pipeline in maxquant_pipelines %}
    <tr>
      <td>
        {{ pipeline.id }}
      </td>
      <td>
        {{ pipeline.name }}</a>           
      </td>
      <td>
        {{ pipeline.description }}
      </td>
      <td>
        {{ pipeline.n_files }}</a>           
      </td>
      <td>
        <a href="{{ pipeline.url }}"><button class='btn full_width'>Open</button></a>   
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p class='warning'>No pipeline found for this project.</p>
  {% endif %}
</div>
