{% extends "base.html" %}

{% block content %}
  <h1 class='project'>Projects</h1>

  <div class='block pipeline-block'>
    {% if project_list %}
      <div class="projects-table-wrap">
        <table class="projects-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Open</th>
            </tr>
          </thead>
          <tbody>
            {% for project in project_list %}
              <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td><a class="mq-open-link" href="{% url 'project:detail' slug=project.slug %}">Open</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>There were no project created yet.</p>
    {% endif %}
  </div>
{% endblock %}
