@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Dongle', sans-serif;
    background: #fafafa;
}


#title{
    color:rgb(240, 240, 240);
    font-size: 30;
    font-weight: bold;
    text-align: left;
    padding: 20;
}

.header {
    width: 70%;
    align-content: left;
}


#CookielawBanner { 
    background-color: lightgray !important;
    border: 2px solid red;
    border-radius: 5px;
    max-width: 100%;
    margin: auto;
}


#LoginButton:hover {
    background-color: blue;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nobull {
    list-style-type: none !important;
}

.no-shadows {
    box-shadow: none!important;
}

.dashapp {
    padding-top: 10px;
}

.btn{
    width: 220px;
    min-height: 40px;
    margin: 5px 5px 5px 5px;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#logout {
    background:darkred;
    float: right;
}

.right{
    float: right !important;
}

.full_width {
    width: 100%;
    margin: 5px;
}

.btn:hover {
    background-color: blue;
    color: white !important;
}

nav ul a:hover {
    background-color: lightcyan;
}

h1 {
    font-size: 30;
    color: rgb(0, 80, 80);
    font-weight: bold;

}

iframe {
    overflow: hidden;
}

.button {
    background-color: #27A69A !important;
}

tr th .btn {
    height: 30px;
    font-weight: normal;
}

#sortnsearch {
    padding-bottom: 50px; 
}

.figure_a {
    max-width:1200; 
    height:400;
}


.figure_large_quare {
    max-width:1200; 
    height:120;
}

.figure_large_rect {
    max-width:1200; 
}

.block {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.project {
    font-weight: bold;
}

table {
    width: 100%;
}

th, td {
    padding: auto;
  }

table thead th { border-bottom: 1px solid #000; }

table tr th {
    vertical-align: middle;
}

#CookielawBanner {
    background: #fff;
    padding: 15px 0;
}

#CookielawBanner .container {
    position: relative;
}


#CookielawBanner #CookielawCross {
    background: url('../img/close.png') no-repeat 0 0;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}

.pagination > li > a
{
    background-color: #488686;
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: #488686;
    border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: white;
  border-color: white;
}

.pagination > .active > a:hover
{
    background-color: #488686 !Important;
    border: solid 1px #5A4181;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: white;
  cursor: not-allowed;
  background-color: white;
  border-color: #ddd;
}

ul {
    list-style-type: none !important;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


@media (max-width: 1000px) {
    #logout {
        float: None;
    }
}

@media (max-width: 500px) {
    .btn {
        width: 100%;
    }
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}

.warning {
    color: white;
    margin: auto;
    background: darkred;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}


a:hover {
    text-decoration: None;
}

#username {
    font-weight: bold;
    padding: 5px;
}

.flex-wrapper {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
}

