{% extends 'base.html' %}

{% block free_content %}

  <h1>Welcome to {{ home_title }}</h1>
  <p>This is the automated storage and processing platform for proteomics data from the Lewis Research Group.<br> 
     Files added to the pipelines are processed with RawTools and MaxQuant.
  <p> 
    <a href='https://sorenwacker.github.io/ProteomicsQC/'><button class='btn'>Documentation</button></a>
    <a href='https://github.com/sorenwacker/ProteomicsQC/issues'><button class='btn'>Report Issues</button></a>    
  </p>  
    
{% endblock %}