{% extends 'base.html' %}

{% block free_content %}

  <h1>Welcome to {{ home_title }}</h1>
  <p>This is the automated storage and processing platform for proteomics data from the <a href='https://www.lewisresearchgroup.org/'> Lewis Research Group</a>.<br> 
     Check out the documentation on how to use this tool or get in touch via GitHub:
  <p> 
    <a href='https://sorenwacker.github.io/ProteomicsQC/'><button class='btn'>Documentation</button></a>
    <a href='https://github.com/sorenwacker/ProteomicsQC/issues'><button class='btn'>Contact</button></a>    
  </p>  
    
{% endblock %}