name: Django Test Suite

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run Pytest via Docker Compose
      run: |
        docker compose -f docker-compose-test.yml run web pytest tests/
