name: Django Test Suite

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Run Pytest via Docker Compose
      env:
        UID: 1000
        CONCURRENCY: 1
        ALLOWED_HOSTS: "localhost,127.0.0.1,0.0.0.0"
      run: |
        touch .env
        docker compose -f docker-compose-test.yml run web pytest tests/
